<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="d-flex mx-auto" style="width: 1000px">
        <a class="navbar-brand d-flex" [routerLink]="['/']">
            <div class="font-weight-bold align-self-center h5">Polygon</div>
        </a>

        <div class="navbar-collapse ml-5">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" [routerLink]="['/']">Homepage</a>
                </li>
            </ul>
        </div>

        <div class="nav-item ml-auto mr-4">
            <a class="nav-link text-white">About</a>
        </div>
    </div>
</nav>
